<hr>
<section>
    <p>
        <strong>Country Information Component</strong>
    </p>
    <div>Country Flag: <img [src]="countryModel.flag" class="small-flag"> </div>
    <div>Name: <strong> {{countryModel.name}}</strong></div>
    <div>Currency Name: <strong> {{ countryModel.currencies != null ? countryModel.currencies[0].name : "N/A"}}</strong>
    </div>
    <div>Lattitude / Longitude: <strong> {{countryModel.latlng}}</strong></div>
    <div>Land Area: <strong> {{countryModel.area}}</strong></div>
</section>