<hr>
<section>
    <p><strong>Country Search Hisotry</strong></p>
    <div>
        <ul>
            <li *ngFor="let country of searchedCountryList">
                <a href="" (click)="countryClicked($event, country)">{{ country.name }}</a>
            </li>
        </ul>
    </div>
</section>