<div>&nbsp;</div>
<label><strong>Search for a country</strong></label>
<div><span *ngIf="searching">searching...</span></div>
<div class="invalid-feedback" *ngIf="searchFailed">Sorry, countries could not be loaded.</div>

<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
    [resultFormatter]="formatter" [inputFormatter]="formatter" (selectItem)="countryClicked($event)" />

<app-country-information *ngIf="selectedCountry != null" [countryModel]="selectedCountry"></app-country-information>

<app-country-search-hisotry *ngIf="searchedCountryList.length > 0" [searchedCountryList]="getSelectedCountryList()"
    (countrySelectedFromHistory)='setSelectedCountry($event)'>
</app-country-search-hisotry>